{#  -*- coding: utf-8 -*- #}
{% extends 'base.tmpl' %}
{% import 'archive_navigation_helper.tmpl' as archive_nav with context %}
{% import 'feeds_translations_helper.tmpl' as feeds_translations with context %}

{% block extra_head %}
    {{ feeds_translations.head(kind=kind, rss_override=False, has_no_feeds=has_no_feeds) }}
{% endblock %}

{% block content %}
<section class="hero">
  <div class="hero-body">
    <h1 class="title">
      Hero title
    </h1>
    <p class="subtitle">
      Hero subtitle
    </p>
  </div>
</section>
<section class="section">
    <div class="container is-max-desktop">
        {% if items %}
            {% for text, link, count in items %}
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-64x64">
                            <img src="https://bulma.io/images/placeholders/128x128.png">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{text}}</strong> <small>@johnsmith</small> <small>31m</small>
                                <br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                            </p>
                        </div>
                        <nav class="level is-mobile">
                            <div class="level-left">
                                <a class="level-item">
                                    <span class="icon is-small"><i class="fas fa-reply"></i></span>
                                </a>
                                <a class="level-item">
                                    <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                                </a>
                                <a class="level-item">
                                    <span class="icon is-small"><i class="fas fa-heart"></i></span>
                                </a>
                            </div>
                        </nav>
                    </div>
                </article>
            {% endfor %}
        {% endif %}
    </div>
</section>
<article class="listpage">
    <header>
        <h1>{{ title|e }}</h1>
    </header>
    {{ archive_nav.archive_navigation() }}
    {{ feeds_translations.translation_link(kind) }}
    {% if items %}
    <ul class="postlist">
    {% for text, link, count in items %}
        <li><a href="{{ link }}">{{ text|e }}</a>
        {% if count %}
            ({{ count }})
        {% endif %}
    {% endfor %}
    </ul>
    {% else %}
    <p>{{ messages("Nothing found.") }}</p>
    {% endif %}
</article>
{% endblock %}
