{#  -*- coding: utf-8 -*- #}
{% extends 'base.tmpl' %}
{% import 'project_helper.tmpl' as project with context %}
{% block content %}
<section class="hero">
  <header class="hero-body">
    <h1 class="title">
      {{ title }}
    </h1>
    <p class="subtitle">
      Recents works, no order.
    </p>
  </header>
  <hr class="separator"/>
</section>
<section class="section">
  <div class="container is-max-desktop">
    {% for p in projects %}
    <article class="project my-3">
        <figure class="image is-3by1">
          
          <img src="/images/{{ p.meta('cover') }}">
          <div class="overlay">
            <a class="text" href="{{ p.permalink() }}">View project</a>
          </div>
        </figure>
      <header class="my-2 is-size-5">
        <h2><a href="{{ p.permalink() }}">{{ p.title() }}</a> <span>/ {{ p.meta('role')}} / {{ p.meta('language')}}</span></h2>
      </header>
      <p>{{ p.meta('description')}}</p>
      <footer>{{ project.devstatus(p.meta('devstatus')) }}</footer>
    </article>
    <hr class="separator"/>
    {% endfor %}
  </div>
</section>
{% endblock %}
